.container {
  padding: 2rem;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  gap: 1rem;
}

.randomAndSearch {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: static;
}
