.container {
  /* margin: 0.5rem; */
  padding: 0.5rem;
  display: flex;
}

.input {
  padding: 0.5rem;
  margin-right: 0.4rem;
  background-color: rgba(118, 46, 186, 0.201);
  color: whitesmoke;
  border: solid 1px grey;
  border-radius: 5px;
}

.button {
  padding: 0.5rem;
  margin-right: 0.5rem;
  border: solid 1px whitesmoke;
  border-radius: 5px;
  background-color: rgba(119, 46, 186, 0.6);
  color: white;
}

.button:hover {
  cursor: pointer;
  background-color: rgba(137, 43, 226, 0.315);
}
